TrainUp/
pandas/Data Camp/
Python/Recipes/.ipynb_checkpoints
Python/Basics/.ipynb_checkpoints
Python/Basics/foo.txt
Python/Basics/textfile
Python/Basics/testfile
How-To/.ipynb_checkpoints
How-To/files/NewFile_Formatting.xlsx
How-To/files/NewFile_NoFormatting.xlsx
How-To/files/NewFile_Charts.xlsx
How-To/files/NewFile_CleanChart.xlsx
How-To/files/NewFile_CleanChart_2Ys.xlsx